<?
$this->headTitle('System Administration');
$this->layout()->manual = true;

$this->headScript()
    ->appendFile('//code.highcharts.com/highcharts.js')
    ->appendFile('//code.highcharts.com/highcharts-more.js')
    ->appendFile('//code.highcharts.com/modules/exporting.js');

$skin = \PVL\Customization::get('theme');
if ($skin == "dark")
    $this->headScript()->appendFile(\DF\Url::content('highcharts/dark-blue.js'));
?>

<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <ul class="nav nav-list">
                <li class="nav-header">Manage Content</li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'blocks')) ?>"><i class="icon-list-alt"></i> Content Blocks</a></li>

                <li class="nav-header">Manage PVL Records</li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'stations')) ?>"><i class="icon-volume-up"></i> Stations</a></li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'artists')) ?>"><i class="icon-star"></i> Artists</a></li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'podcasts')) ?>"><i class="icon-rss"></i> Podcasts</a></li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'rotators')) ?>"><i class="icon-refresh"></i> Rotating Banners</a></li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'affiliates')) ?>"><i class="icon-group"></i> Affiliates</a></li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'conventions')) ?>"><i class="icon-flag"></i> Conventions</a></li>

                <li class="nav-header">Network Statistics</li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'songs', 'action' => 'votes')) ?>"><i class="icon-sort-by-order"></i> Top Songs for Week</a></li>

                <li class="nav-header">Manage Core System</li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'api')) ?>"><i class="icon-puzzle-piece"></i> API Usage</a></li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'users')) ?>"><i class="icon-user"></i> User Accounts</a></li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'permissions')) ?>"><i class="icon-key"></i> Roles &amp; Permissions</a></li>
                <li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'settings')) ?>"><i class="icon-cog"></i> System Settings</a></li>

                <li class="nav-header">Station Centers</li>
            <? foreach($this->stations as $station): ?>
                <li><a href="<?=$this->route(array('module' => 'stations', 'action' => 'index', 'station' => $station->id)) ?>"><i class="<?=$station->getCategoryIcon() ?>"></i> <?=$station->name ?></a></li>
            <? endforeach; ?>
            </ul>
        </div>
    </div>
    <div class="span9">
        <div class="well">
            <div id="network_listeners_by_day" style="height: 250px;"></div>
            <div id="station_listeners_by_day" style="height: 450px;"></div>
        </div>
        <div class="well no-margin">
            <h2>Synchronization Status</h2>
            <div class="row-fluid">
            <? foreach($this->sync_times as $sync_key => $sync_info): ?>
                <div class="span3">
                    <h4><?=$sync_info['name'] ?></h4>
                    <p><?=date('F j, Y g:ia', $sync_info['latest']) ?><br><small><?=$sync_info['diff_text'] ?> ago</small></p>

                    <?=$this->button(array(
                        'type'      => 'small',
                        'href'      => $this->routeFromHere(array('action' => 'sync', 'type' => $sync_key)),
                        'text'      => 'Run Manually',
                        'target'    => '_blank',
                    )) ?>
                </div>
            <? endforeach; ?>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
        
    $('#network_listeners_by_day').highcharts({
        chart: { zoomType: 'x' },
        title: { text: 'PVL Network Traffic by Day' },
        xAxis: {
            type: 'datetime',
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%a %d %b', this.value);
                },
                dateTimeLabelFormats: {
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%e. %b',
                    week: '%e. %b',
                    month: '%b \'%y',
                    year: '%Y'
                }
            }
        },
        plotOptions: {
            spline: {
                marker: { enabled: false }
            }
        },
        yAxis: {
            title: { text: 'Listeners' },
            min: 0,
            max: 500
        },
        tooltip: {
            crosshairs: true,
            shared: true,
            xDateFormat: '%Y-%m-%d'
        },
        colors: [
            '#AEE1FF',
            '#0091E5',
            '#FFA6A6',
            '#8C0000'
        ],
        
        series: <?=$this->network_metrics ?>
    });

    $('#station_listeners_by_day').highcharts({
        chart: { zoomType: 'x' },
        title: { text: 'PVL Station Traffic by Day' },
        xAxis: {
            type: 'datetime',
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%a %d %b', this.value);
                },
                dateTimeLabelFormats: {
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%e. %b',
                    week: '%e. %b',
                    month: '%b \'%y',
                    year: '%Y'
                }
            }
        },
        plotOptions: {
            spline: {
                lineWidth: 1,
                marker: { enabled: false },
                shadow: false,
                states: {
                    hover: {
                        lineWidth: 3
                    }
                },
                threshold: null
            }
        },
        yAxis: {
            title: { text: 'Listeners' },
            min: 0,
            max: 100
        },
        tooltip: {
            crosshairs: true,
            xDateFormat: '%Y-%m-%d'
        },
        
        series: <?=$this->station_metrics ?>
    });
});
</script>