<?
$this->headScript()
    ->appendFile(\DF\Url::content('jplayer/jquery.jplayer.min.js'))
    ->appendFile(\DF\Url::content('radio.js'));

// ->appendFile('//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js');
// $this->headLink()->appendStylesheet('//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css', 'all');
?>
<div id="pvl-jplayer-controls-image" style="display: none;">
    <div class="jp-type-single">
        <div class="jp-gui jp-interface clearfix">
            <a href="javascript:;" class="jp-pause" tabindex="1" title="pause"><i class="icon-pause"></i></a>
            <a href="javascript:;" class="jp-play" tabindex="1" title="play"><i class="icon-play"></i></a>

            <a href="javascript:;" class="jp-mute" tabindex="1" title="mute"><i class="icon-volume-off"></i></a>
            <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"><i class="icon-volume-down"></i></a>
            
            <div class="jp-volume-bar progress">
                <div class="jp-volume-bar-value bar"></div>
            </div>

            <a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume"><i class="icon-volume-up"></i></a>
        </div>
    </div>
</div>

<div id="login_screen" style="display: none;">
    <h2>Log In to Like Songs</h2>

    <p>Want to let us know what your favorite songs are? Just click the button below to log in or create a new account on Ponyville Live! You can also sign in with your Twitter, Facebook, or other social media account.</p>

    <div class="buttons">
        <?=$this->button(array(
            'type'      => 'link',
            'href'      => $this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')),
            'text'      => 'Log In to Ponyville Live!',
            'icon'      => 'icon-signin',
            'class'     => 'btn-large btn-primary',
        )) ?>
    </div>
</div>

<? if ($this->station_id && $this->autoplay): ?>
<script type="text/javascript">
$(function() {
    playStation($('.station[data-id="<?=$this->station_id ?>"]').attr('id'));
});
</script>
<? endif; ?>