<? foreach($categories as $cat_key => $cat): ?>
    <? if (count($cat['stations']) > 0): ?>
        <div class="floating">
            <div class="well">
                <h3><i class="<?=$cat['icon'] ?>"></i> <?=$cat['name'] ?> <small><span id="nowplaying-listeners-<?=$cat_key ?>"></span></small></h3>

                <?
                $this->stations = $cat['stations'];
                $this->render_mode = 'standalone';

                echo $this->renderCommon('station');
                ?>
            </div>
        </div>
    <? endif; ?>
<? endforeach; ?>