<?php $this->headTitle(ucwords($this->message)); ?>

<h1>Database Error</h1>

<h2>About The Error</h2>

<dl>
    <dt>Message:</dt>
    <dd><?php print $this->exception->getMessage(); ?></dd>
</dl>

<h3>Stack trace</h3>

<table class="styled" width="100%">
    <thead>
        <tr>
            <th class="nobg"></th>
            <th>File</th>
            <th>Line</th>
            <th>Function</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach( $this->exception->getTrace() as $i => $trace ): ?>
        <tr class="odd" style="vertical-align: top;">
            <th scope="row">
                <?php print $i; ?>
            </th>

            <td>
                <?php print isset($trace['file']) ? preg_replace('#^' . preg_quote(DF_INCLUDE_BASE, '#') . '#i', '', $trace['file']) : ""; ?>
            </td>

            <td>
                <?php print isset($trace['line']) ? $trace['line'] : "" ?>
            </td>
            <td>
                <code>
                <?php
                    $args = array();
                    if( isset($trace['args']) )
                    {
                        foreach( $trace['args'] as $arg )
                        {
                            if( is_object($arg) )
                            {
                                $args[] = "&nbsp;&nbsp;&nbsp;&nbsp;" . gettype($arg) . "(" . get_class($arg) . ")";
                            }
                            elseif( is_array($arg) )
                            {
                                $array_args = explode("\n", print_r($arg, true));
                                
                                foreach( $array_args as &$line )
                                {
                                    $line = "&nbsp;&nbsp;&nbsp;&nbsp;" . $line;
                                }
                                
                                $array_args = str_replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;", str_replace(" ", "&nbsp;", implode("<br/>", $array_args)));
                                
                                $args[] = "" . $array_args;
                            }
                            else
                            {
                                $args[] = "&nbsp;&nbsp;&nbsp;&nbsp;" . gettype($arg) . "(" . $arg . ")";
                            }
                        }
                        
                        if( count($args) > 0 )
                        {
                            $pretty_args = "(<br />";
                            
                            $pretty_args .= implode(",<br />", $args);
                            
                            $pretty_args .= "<br />);";
                        }
                        else
                        {
                            $pretty_args = "();";
                        }
                    }
                    

                    print sprintf("%s%s%s%s",
                        isset($trace['class']) ? $trace['class'] : "",
                        isset($trace['type']) ? $trace['type'] : "",
                        isset($trace['function']) ? $trace['function'] : "",
                        isset($trace['args']) ? $pretty_args : ""
                    );
                ?>
                </code>
            </td>
        </tr>
    <?php endforeach; ?>
        <tr>
            <th scope="row">
                <?php print ++$i; ?>
            </th>
            <td colspan="3">
                <em>{main}</em>
            </td>
        </tr>
    </tbody>
</table>

<h3>Request Parameters</h3>

<dl>
<?php foreach( $this->request->getParams() as $key => $param ): ?>
    <dt>
        <?php print $key; ?>:
    </dt>
    <dd>
        <?php print $param; ?>
    </dd>
<?php endforeach; ?>
</dl>