<?php
$this->headTitle('Station Stream Manager');

echo $this->renderHere('stationname', true);
echo $this->renderHere('homelink', true);
?>

<h2>Station Stream Manager</h2>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'btn-large success',
        'href'      => $this->routeFromHere(array('action' => 'edit')),
        'icon'      => 'icon-plus-sign',
        'text'      => 'Add New Stream',
    )) ?>
</div>

<table class="table table-striped table-bordered table-condensed">
    <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="30%">
        <col width="30%">
    </colgroup>
    <thead>
    <tr>
        <th>Actions</th>
        <th>Stream Name</th>
        <th>URLs</th>
        <th>Now Playing</th>
    </tr>
    </thead>
    <tbody>
    <? foreach($this->streams as $record): ?>
        <tr class="input <? if ($record['is_default']): ?>blue<? endif; ?>">
            <td class="center">
                <div class="btn-group">
                    <?=$this->button(array(
                        'type'      => 'link',
                        'class'     => 'btn-small confirm-action '.($record['is_default'] ? 'btn-primary disabled' : ''),
                        'href'      => $this->routeFromHere(array('action' => 'setdefault', 'id' => $record['id'])),
                        'icon'      => 'icon-asterisk',
                        'text'      => 'Default',
                    )) ?>
                    <?=$this->button(array(
                        'type'      => 'link',
                        'class'     => 'btn-small',
                        'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => $record['id'])),
                        'icon'      => 'icon-pencil',
                        'text'      => 'Edit',
                    )) ?>
                    <?=$this->button(array(
                        'type'      => 'link',
                        'class'     => 'btn-small btn-danger confirm-action',
                        'href'      => $this->routeFromHere(array('action' => 'delete', 'id' => $record['id'])),
                        'icon'      => 'icon-trash',
                        'text'      => 'Delete',
                    )) ?>
                </div>
            </td>
            <td>
                <big><?=$record->name ?></big><br>
                <?=$record->type ?>
            </td>
            <td>
                <b>Broadcast:</b> <a href="<?=$record->stream_url ?>"><?=$record->stream_url ?></a><br>
                <b>NowPlaying:</b> <a href="<?=$record->nowplaying_url ?>"><?=$record->nowplaying_url ?></a>
            </td>
            <td>
                <?
                $np = (array)$record->nowplaying_data;
                ?>
                <? if ($np['status'] == 'offline'): ?>
                    <span class="text-error">
                        <big>Station Offline</big><br>
                        Verify correct URLs!
                    </span>
                <? else: ?>
                    <big><?=$np['current_song']['title'] ?></big><br>
                    <?=$np['current_song']['artist'] ?><br>
                    <i class="icon-user"></i> <?=$np['listeners']['current'] ?> Tuned In
                <? endif; ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>