<?php
$this->headTitle('Artist Profile: '.$this->artist->name);
$this->layout()->manual = true;

$social_links = \Entity\Artist::getSocialTypes();
?>

<div class="row">
    <div class="span5">
        <div class="floating">
            <div class="media-list">
                <div class="media">
                    <div class="media-object pull-left">
                        <img class="thumbnail" src="<?=\DF\Url::content($this->artist->image_url) ?>" style="width: 128px;">
                    </div>
                    <div class="media-body">
                        <h2>
                            Artist Profile<br>
                            <small>
                                <div>
                                <? foreach($this->artist->types as $type): ?>
                                    <i class="<?=$type['icon'] ?>"></i> <?=$type['name'] ?> 
                                <? endforeach; ?>
                                </div>
                            </small>
                        </h2>

                    <? if ($this->acl->isAllowed('administer artists')): ?>
                        <div class="buttons">
                            <?=$this->button(array(
                                'type'      => 'link',
                                'icon'      => 'icon-pencil',
                                'text'      => 'Edit Profile (Administrator)',
                                'href'      => $this->route(array('module' => 'admin', 'controller' => 'artists', 'action' => 'edit', 'id' => $this->artist->id, 'origin' => 'profile')),
                                'class'     => 'btn-inverse fancybox fancybox.ajax',
                            )) ?>
                        </div>
                    <? elseif ($this->artist->canEdit()): ?>
                        <div class="buttons">
                            <?=$this->button(array(
                                'type'      => 'link',
                                'icon'      => 'icon-pencil',
                                'text'      => 'Edit My Profile',
                                'href'      => $this->routeFromHere(array('action' => 'edit')),
                                'class'     => 'btn-inverse fancybox fancybox.ajax',
                            )) ?>
                        </div>
                    <? endif; ?>

                        <p><?=nl2br($this->artist->description) ?></p>

                        <div class="media-list">
                        <? foreach($social_links as $key => $link_info): ?>
                            <? if ($this->artist[$key]): ?>
                                <?
                                $link = $this->artist[$key];
                                $text = \DF\Utilities::truncateUrl($link);
                                $icon = $this->icon(array('type' => 'social32', 'image' => $link_info['icon']));
                                ?>
                                <div class="media">
                                    <div class="media-object pull-left">
                                        <?=$this->link($link, $icon, '_blank') ?>
                                    </div>
                                    <div class="media-body">
                                        <b><?=$link_info['name'] ?>:</b><br>
                                        <?=$this->link($link, $text, '_blank') ?>
                                    </div>
                                </div>
                            <? endif; ?>
                        <? endforeach; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span7">
        <div class="floating">
            <h2>Artist News &amp; Updates</h2>

            <ul id="article_type_selector" class="nav nav-pills autoselect" rel="all">
            <? foreach($this->categories as $cat_key => $cat_name): ?>
                <li rel="<?=$cat_key ?>"><a href="#" data-toggle="tab"><?=$cat_name ?></a></li>
            <? endforeach; ?>
            </ul>

            <ul class="media-list">
            <? foreach($this->news as $article): ?>
                <li class="media news-article article_type_all article_type_<?=$article['source'] ?>">
                    <div class="media-object pull-left">
                        <a href="<?=$article['web_url'] ?>"><?=$this->icon(array('type' => 'social32', 'image' => $social_links[$article['source']]['icon'])) ?></a>
                    </div>
                    <div class="media-body">
                        <h4>
                            <?=$article['title'] ?><br>
                            <small><?=$social_links[$article['source']]['name'] ?> &bull; <?=date('F j \a\t g:ia', $article['timestamp']) ?></small>
                        </h4>
                        <?=$article['body'] ?>
                    </div>
                </li>
            <? endforeach; ?>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $('#article_type_selector a').click(function(e) {

        var type_name = $(this).closest('li').attr('rel');

        $('.news-article').hide();
        $('.news-article.article_type_'+type_name).show();
    });
});
</script>