@charset "utf-8";
@import url('common.css');
@import url('../stations.css');

html,
html.full_layout {
	background-color: #EEE;
}

body {
	color: #222;
}

h1, h2 {
	color: #2C7FD2;
	text-shadow: 1px 1px 1px #FFF;
}

a {
	color: #2C7FD2;
}
a:hover {
	color: #5699DC;
}
hr {
	border-top: 1px solid #666;
	border-bottom: 1px solid #DDD;
}
code {
	color: #DDD;
	background: #0E2B47;
	border: 1px solid #15416C;
}

fieldset legend {
	color: #444;
	border: 0;
}

form span.help-block, 
form span.help-inline {
	font-size: 12px;
	color: #777;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #DDD;
	background-color: rgba(0, 0, 0, 0.1);
}
.table tbody tr:hover td {
	background-color: #EEE;
	background-color: rgba(0, 0, 0, 0.2);
}
.table th, .table td {
	border-top: 0;
}

/**
 * Main Body
 */

#about_pvl {
  color: #555;
}

div#content_top_wrapper {
	border-bottom: 1px solid #CCC;
}
div#content_top {
	color: #888;
}

div#copyright {
	color: #777;
}

.well {
	padding: 10px;
}

.station.playing,
.station.playing h4 small {
	color: #111;
}
.station.playing h4 small {
	font-size: 14px;
	color: #555;
}
.station.playing .media-body {
    text-shadow: 0.1em 0.1em 0.2em #FFF;
}

.station .media-object,
.podcast .media-object {
	text-shadow: 0.1em 0.1em 0.2em #FFF;
}