@charset "utf-8";
@import url('light.css');
@import url('../stations.css');

html,
html.full_layout {
	background-color: #EEE;
}
html.full_layout {
	background-image: url('layout/bodybg_light.jpg');
}

body {
	background: transparent;
	color: #222;
}

h1, h2 {
	color: #2C7FD2;
	text-shadow: 1px 1px 1px #FFF;
}

a {
	color: #2C7FD2;
}
a:hover {
	color: #5699DC;
}
hr {
	border-top: 1px solid #666;
	border-bottom: 1px solid #DDD;
}
code {
	color: #DDD;
	background: #0E2B47;
	border: 1px solid #15416C;
}

fieldset legend {
	color: #444;
	border: 0;
}

form span.help-block, 
form span.help-inline {
	font-size: 12px;
	color: #777;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #DDD;
	background-color: rgba(0, 0, 0, 0.1);
}
.table tbody tr:hover td {
	background-color: #EEE;
	background-color: rgba(0, 0, 0, 0.2);
}
.table th, .table td {
	border-top: 0;
}

/**
 * Main Body
 */

div#body {
	border-radius: 0 0 10px 10px;
	margin-bottom: 20px;
	
	background: transparent !important;
	border: 0;
}

#station_selector {
	height: 100px;
	overflow: hidden;

	margin-bottom: 0;
}

.carousel-controls {
	text-align: center;
}

.carousel-controls .control {
	float: left;
}
.carousel-controls .control a {
	display: block;

	background: #2C7FD2;

	color: #fff;
	text-align: center;
	text-decoration: none;

	font-size: 30px;
	line-height: 29px;

	height: 30px;
	overflow: hidden;
	padding: 0 0 5px 0;
	margin: 0;
}

.carousel-controls .control.left {
	width: 15%;
}
.carousel-controls .control.center {
	width: 70%;
}
.carousel-controls .control.right {
	width: 15%;
}

.carousel-controls .control.left a {
	border-left: 6px solid #76ACE2;
}
.carousel-controls .control.center a {
	font-size: 15px;
	line-height: 26px;

	padding-top: 4px;
	padding-bottom: 1px;

	margin-left: 5px;
	margin-right: 5px;
}
.carousel-controls .control.right a {
	border-right: 6px solid #76ACE2;
}


@media (max-width: 767px) {
	body {
		background: #EEE;
	}
}

@media (max-width: 980px) {
	#header-wrapper {
		background: #FFF;
	}
}