<?
$this->headTitle('Manage Rotator Banners');
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large success',
        'href'      => $this->routeFromHere(array('action' => 'edit')),
        'icon'      => 'icon-plus-sign',
        'text'      => 'Add New Rotator',
    )) ?>
</div>

<table class="table table-striped table-bordered table-condensed">
    <colgroup>
        <col width="25%" />
        <col width="25%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Image</th>
            <th>Link/Description</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->records as $record): ?>
        <tr class="input">
            <td class="center">
                <div class="btn-group">
                    <?=$this->button(array(
                        'type'      => 'small',
                        'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => $record['id'])),
                        'text'      => 'Edit',
                    )) ?>
                    <?=$this->button(array(
                        'type'      => 'small',
                        'class'     => 'danger confirm-delete',
                        'href'      => $this->routeFromHere(array('action' => 'delete', 'id' => $record['id'])),
                        'text'      => 'Delete',
                    )) ?>
                </div>
            </td>
            <td class="center" <? if (!$record['is_approved']): ?>style="opacity: 0.2;"<? endif; ?>><img src="<?=\DF\Url::content($record['image_url']) ?>"></td>
            <td>
                <div><big><?=$this->link($record['web_url']) ?></big></div>
            <? if ($record['description']): ?>
                <div><?=$record['description'] ?></div>
            <? endif; ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>