/**
 * Custom CSS for Mobile App
 */

body {
	font-family: 'Source Sans Pro', sans-serif;
}

div#content {
	padding-bottom: 50px;
}

/**
 * Homepage
 */

#home_header {
	background: url('pagebg.jpg') center center no-repeat;
	background-size: 100% auto;

	text-align: center;
}
#home_header img {
	max-width: 100%;
}

#home_buttons {
	margin: 10px;
}

#home_footer {
	margin-top: 5px;
	border-top: 1px solid #CCC;
	padding-top: 5px;

	text-align: center;
	color: #999;
	font-size: 12px;
	line-height: 13px;
}

/**
 * Station Listings
 */

#station_list li img {
	width: 50px;
}