<h2><?=$this->subject ?></h2>

<p>You are receiving this e-mail because you are listed as the administrator of an active Ponyville Live! station.</p>

<p>A new station has been submitted for possible inclusion into the Ponyville Live! network. Since the network's decision to accept or decline new stations depends heavily on the feedback given by our current stations, we ask that you please take a moment to review this station and indicate your recommendation using the link below.</p>

<p>
    To access the station center and submit your vote, visit this page:<br>
    <?=$this->link($this->route(array('module' => 'stations'))) ?>
</p>

<p>Station details are listed below:</p>

<?=$this->form ?>