<?php
$this->headTitle('Desktop & Mobile Apps');

$this->layout()->hide_title = true;
$this->layout()->manual = true;
?>

<div class="row-fluid">
    <div class="span6">
        <h1 class="title">Desktop/Web Apps</h1>

        <h2>Chrome &amp; Firefox (HoofSounds)</h2>
        <div class="well clearfix">
            <img src="<?=\DF\Url::content('images/app_hoofsounds_1.jpg') ?>" class="pull-right" style="width: 30%; padding-left: 5px;" alt="">

            <p>Ponyville Live! has partnered with the PonyHoof development team to launch a new Chrome plugin that lets you listen to pony music right from your Chrome browser. Visit the link below to learn more and install it!</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'class'     => 'btn-primary',
                    'icon'      => 'icon-globe',
                    'href'      => 'http://hoofsounds.little.my/',
                    'target'    => '_blank',
                    'text'      => 'HoofSounds Homepage',
                )) ?>
            </div>
        </div>

        <h2>Chrome Desktop App</h2>
        <div class="well">
            <p>Want to put pony radio right on your desktop? Now you can! Install the Ponyville Live! Chrome desktop app on any major platform (Windows, OSX, Chrome OS) and you can open the PVL radio player at any time, without needing to have your browser window open. Convenient!</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'class'     => 'btn-primary',
                    'icon'      => 'icon-globe',
                    'href'      => 'https://chrome.google.com/webstore/detail/ponyville-live-desktop-ap/hladljgddjaoinnigfcokaglahhcpilm',
                    'target'    => '_blank',
                    'text'      => 'Install the PVL! Desktop App',
                )) ?>
            </div>
        </div>

        <h2>Embedded On Your Web Site</h2>
        <div class="well">
            <p>Embed the PVL radio player, including all of its stations, directly into your web site for all of your users to enjoy! With the embedded widget, you can play music and tune into streams directly from your own web site.</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'class'     => 'btn-primary',
                    'icon'      => 'icon-globe',
                    'href'      => $this->route(array('controller' => 'widget')),
                    'text'      => 'Web Site Embed Instructions',
                )) ?>
            </div>
        </div>

        <h2>Winamp, iTunes, VLC, etc.</h2>
        <div class="well">
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'class'     => 'btn-primary',
                    'icon'      => 'icon-download',
                    'href'      => $this->routeFromHere(array('controller' => 'station', 'action' => 'playlist', 'format' => 'pls')),
                    'target'    => '_blank',
                    'text'      => 'Download PLS (VLC, etc)',
                )) ?>
            </div>
            <p>Download playlist files containing all of the Ponyville Live! radio stations.</p>
        </div>
    </div>
    <div class="span6">
        <h1 class="title">Mobile Apps</h1>

        <h2>PVL! Mobile 2.0 for Web &amp; Android</h2>
        <div class="well">
            <a href="https://play.google.com/store/apps/details?id=com.ponyvillelive.pvlmobile" style="float: right">
              <img alt="Get it on Google Play"
                   src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
            </a>

            <p>The new PVL! Mobile web application lets you enjoy awesome pony radio, video stations, podcasts and more, anywhere you go. The mobile site is compatible with all modern smartphones, and can be bookmarked or pinned to your home screen for even easier access.</p>

            <p><b>Note:</b> This app is still in active development, so new features are always being added!</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'class'     => 'primary btn-tune-in',
                    'icon'      => 'icon-globe',
                    'href'      => 'http://m.pvlive.me',
                    'text'      => 'PVL! Mobile',
                )) ?>
            </div>

            <div>
                <img src="<?=\DF\Url::content('images/mobile1.png') ?>" style="width: 30%;" alt="">
                <img src="<?=\DF\Url::content('images/mobile2.png') ?>" style="width: 30%;" alt="">
                <img src="<?=\DF\Url::content('images/mobile3.png') ?>" style="width: 30%;" alt="">
            </div>
        </div>

        <h2><i class="icon-android"></i> Third Party Apps for Android</h2>
        <div class="well">
            <p>Several members of the community have also started work on their own Ponyville Live! player apps for the Android platform. Check them out below.</p>

            <dl>
                <dt><a href="http://bit.ly/AllPonyRadioApp">All Pony Radio</a></dt>
                <dd>Created by Black Apple Research Facility, available on the Google Play store.</dd>
            </dl>
        </div>

        <h2><i class="icon-windows"></i> Windows Phone 8 and Windows 8</h2>
        <div class="well">
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'class'     => 'btn-primary',
                    'icon'      => 'icon-download',
                    'href'      => 'http://mlp.reignofcomputer.com/Portal8/',
                    'target'    => '_blank',
                    'text'      => 'MLP Portal (Windows 8)',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'link',
                    'class'     => 'btn-primary',
                    'icon'      => 'icon-download',
                    'href'      => 'http://mlp.reignofcomputer.com/mlpp/',
                    'target'    => '_blank',
                    'text'      => 'MLP Portal (Windows Phone 8)',
                )) ?>
            </div>
            <p>All of Ponyville Live's stations are listed on the MLP Portal application for Windows Phone 8 and Windows 8 desktops. From the app, you can listen to our stations live, view what's playing, and visit the web sites and social media outlets for the stations.</p>
        </div>
    </div>
</div>