<h2><i class="icon-group"></i> Ponyville Live! Convention Coverage</h2>

<div class="row-fluid">
    <div class="span5">
        <div class="well no-margin">
            <h3><i class="icon-bookmark"></i> Coming Up</h3>

            <div class="conventions upcoming">
            <? foreach($this->conventions_upcoming as $record): ?>
                <a class="convention coverage_<?=$record['coverage_level'] ?>" href="<?=$record['web_url'] ?>" target="_blank">
                    <img src="<?=\DF\Url::content($record['images']['thumb']) ?>" alt="Convention Image">
                    <div class="coverage" title="<?=$record['coverage']['text'] ?>">
                        <i class="large-icon <?=$record['coverage']['icon'] ?>"></i>
                    </div>
                    <div class="name">
                        <h4><?=$record['name'] ?></h4>
                        <?=$record['location'] ?> &bull; <?=$record['range'] ?>
                    </div>
                </a>
            <? endforeach; ?>
            </div>
        </div>
    </div>
    <div class="span7">
        <div class="well no-margin">
            <h3><i class="icon-folder-open-alt"></i> Convention Archives</h3>

            <?
            $cols = \DF\Utilities::columns($this->conventions_archived);
            ?>
            <div class="conventions row-fluid">
            <? foreach($cols as $col): ?>
                <div class="span6">
                <? foreach($col as $record): ?>
                    <a class="convention coverage_<?=$record['coverage_level'] ?>" href="<?=$this->route(array('controller' => 'convention', 'action' => 'archive', 'id' => $record['id'])) ?>">
                        <img src="<?=\DF\Url::content($record['images']['thumb']) ?>" alt="Convention Image">
                        <div class="coverage" title="<?=$record['coverage']['text'] ?>">
                            <i class="large-icon <?=$record['coverage']['icon'] ?>"></i>
                        </div>
                        <div class="name">
                            <h4><?=$record['name'] ?></h4>
                            <?=$record['location'] ?> &bull; <?=$record['range'] ?>
                        </div>
                    </a>
                <? endforeach; ?>
                </div>
            <? endforeach; ?>
            </div>
        </div>
    </div>
</div>