<?
$this->layout()->manual = true;
echo $this->renderHere('player', true);
?>

<? /*
<br>
<center>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-1896533421580439";
google_ad_slot = "4076099377";
google_ad_width = 234;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</script>
*/ ?>