<?
$this->headTitle($this->station->name);
?>
<h2>Upcoming Schedule</h2>

<? foreach($this->station_events as $day_date => $day_info): ?>
    <h3><?=$day_info['day_name'] ?><br><small><?=date('F j, Y', $day_info['timestamp']) ?></small></h3>
    <dl class="dl-horizontal">
    <? foreach($day_info['events'] as $event): ?>
        <dt>
        <? if ($event['status'] == "now"): ?>
            Right now
        <? else: ?>
            <?=date('g:ia', $event['start_time']) ?>
        <? endif; ?>
        </dt>
        <dd><?=\Entity\Schedule::formatName($event['title']) ?></dd>
    <? endforeach; ?>
    </dl>
<? endforeach; ?>