.rich_header {
	background: url('headerbg.jpg') center center no-repeat;
	padding: 10px 0;

	border-bottom: solid 2px #eee;
}

.rich_header .well {
	margin-bottom: 0;
	margin: 10px;
	padding: 0;

	background: none;
	border: 0;

	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
#secondary-rotator .well {
	margin: 0;
	padding: 0;

	background: none;
	border: 0;

	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.rich_header div.item h4 a {
	color: #FFF;
}

.rich_header div.carousel-inner {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.rich_header div.item {
	border: 0;

	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
.rich_header div.item img {
	border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
}
.rich_header div.item .carousel-caption {
	border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
}

#secondary-rotator div.item img {
	margin: 0px auto;	
	border-radius: 15px;
}

.rich_header .special_event {
	padding: 15px;
	background: #333333;
	background: rgba(0, 0, 0, 0.75);

	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

/**
 * Conventions
 */

div.conventions {
    margin-bottom: -10px;
}

a.convention {
    display: block;
    position: relative;
    padding-bottom: 40px;
    border-radius: 5px;
    margin-bottom: 10px;

    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    background: #13385E;

    /* background: #111; */
    color: #FFF !important;
}
a.convention.coverage_streaming,
a.convention.coverage_full {
    background: #165787;
}
a.convention.coverage_none {
    opacity: 0.6;
}
.conventions.upcoming a.convention.coverage_none img {
    display: none;
}

a.convention:hover {
    text-decoration: none;
}
a.convention img {
    border-radius: 4px 4px 0 0;
}
a.convention .coverage {
    position: absolute;
    bottom: 7px;
    left: 7px;
}
a.convention .name {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    bottom: 6px;
    left: 35px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
a.convention .name h4 {
    font-size: 14px;
    padding: 0;
}