/**
 * Dark Skin
 */

html.theme_dark body {
	background-color: #151515;
}

html.theme_dark .header {
	border-bottom: solid 2px #333;
}

html.theme_dark .navbar, 
html.theme_dark .navbar-inner, 
html.theme_dark .nav, 
html.theme_dark .navbar-inverse {
	background: none;
}

html.theme_dark .dropdown-menu {
	background-color: #222;
}

html.theme_dark .dropdown-menu .divider {
	background-color: #333;
}

html.theme_dark .dropdown-menu li a {
	color: #DDD;
	border-bottom-color: #333;
}

html.theme_dark .navbar .nav > li > a {
	color: #AAA;
	border-bottom: solid 2px #333;
}

html.theme_dark .rich_header {
	background: url('headerbg_dark.jpg') center center no-repeat;
	border-bottom: solid 2px #333;
}

html.theme_dark body {
	color: #DDD;
}
html.theme_dark form legend {
    color: #CCC;
}

h1, h2 {
	text-shadow: 1px 1px 1px #000;
}

.well {
	background-color: rgb(51, 51, 51);
	background: rgba(51, 51, 51, 0.3);

	border: 0;
	padding: 10px;
}
.well.station_video {
	background: rgb(37, 50, 65) transparent;
	background: rgba(37, 50, 65, 0.3);
}

.footer {
	background: #1B2C41;
	color: #dadada;
	border-top: 2px solid #375B88;
}

.nav-list > li > a, 
.nav-list .nav-header {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.nav > li > a:hover, 
.nav > li > a:focus {
	background-color: #333;
}

ul.nav.nav-tabs {
    border-bottom-color: #333;
}
ul.nav.nav-tabs > .active > a,
ul.nav.nav-tabs > .active > a:hover,
ul.nav.nav-tabs > .active > a:focus {
    color: #999;
    background: #151515;
    border-color: #333;
    border-bottom-color: transparent;
}
ul.nav.nav-tabs > li > a:hover,
ul.nav.nav-tabs > li > a:focus {
    border-color: #333;
}

div.tabbable div.tab-pane {
    padding-top: 10px;
}

.table .table {
	background: none;
}

.table-bordered {
	border-color: #444;
}
.table-bordered th, .table-bordered td {
	border-left-color: #444;
}

.footer .media-object {
	background: #151515;
}

/** 
 * Station Player
 */

.station img,
.podcast img {
	background: #151515;
}

.station.playing {
	background: #151515;
}

.station.offline,
.station.offline h4 small {
	color: #999;
}
.station.live,
.station.live h4 small {
	color: #B4D1EF;
}

/*
.station.playing .progress .bar {
	background-color: #66B33C;
	background-image: -moz-linear-gradient(top, #66B33C, #366121);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66B33C), to(#366121));
	background-image: -webkit-linear-gradient(top, #66B33C, #366121);
	background-image: -o-linear-gradient(top, #66B33C, #366121);
	background-image: linear-gradient(to bottom, #66B33C, #366121);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66B33C', endColorstr='#ff366121', GradientType=0);
}
*/