.media.station {
    margin-top: 0px;
}

.station h4,
.podcast h4 {
	border-color: #CCC;
}

.station h4 span,
.podcast h4 span{
    font-weight: normal;

    font-size: 13px;
    line-height: 13px;

    color: #999999;
}

.station img,
.podcast img {
	padding: 4px;

	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	background: #13385E;
	/* background: #163D63; */

	border-radius: 5px;
	border: 0;
}

.station .show-when-playing {
	display: none;
}
.station .video-stream-player {
    display: none;
    margin-top: 5px;
}

.station.live,
.station.live h4 span {
	color: #2C7FD2;
}
.station.live img {
	/* background: #428BD5; */
}

.station.playing {
	overflow: initial;
	background: rgba(19, 56, 93, 0.95); /* #13385E; */
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);

	border-radius: 5px;
	margin: 3px 0 3px -5px;

	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 8px;

	cursor: default;

	transition: background 1s ease;
}
.station.rendermode-embed.playing {
	background: none;
	box-shadow: none;
}

.station.playing .show-when-playing {
	display: block;
}

.station.playing .nowplaying-onair {
	padding-top: 3px;
}
.station.playing .media-body {
	padding-top: 3px;
	padding-bottom: 3px;
}
.station.playing > .btn-toolbar {
	padding-top: 4px;
}
.station.rendermode-embed.playing > .btn-toolbar {
	display: none;
}

.station.playing,
.station.playing h4 span {
	color: #EFEFEF;
}
.station.playing h4 {
	font-size: 18px;
	line-height: 16px;
	padding-top: 8px;
	padding-bottom: 0;
}
.station.playing h4 span {
	font-size: 14px;
	color: #CCC;
}
.station.playing img {
	background: none;
	box-shadow: none;
}
.station.playing .nowplaying-artist {
	font-size: 16px;
	line-height: 17px;
}
.station.playing .nowplaying-title {
	font-size: 14px;
	line-height: 15px;
}
.station.playing .station-player-container {
	margin-top: 5px;
}

.station.playing .media-body {
    text-shadow: 0.1em 0.1em 0.2em #000000;
}

.station.playing .underline-when-playing {
    cursor: pointer;
}
.station.playing .underline-when-playing:hover {
    text-decoration: underline !important;
}

.station.offline {
	cursor: default;
}
.station.offline,
.station.offline h4 small {
	opacity: 0.6;
}

.station .media-object,
.podcast .media-object {
	position: relative;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.station .media-object .station-play-button,
.podcast .media-object .station-play-button {
	background: none;
}
.station .media-object .station-play-button i,
.podcast .media-object .station-play-button i {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.podcast .media-body small {
	font-size: 12px;
	line-height: 12px;
}

.podcast .media-body {
	font-size: 14px;
	line-height: 14px;
}

.station .station-info .chat-button {
	float: right;
	margin-top: 25px;
}

/**
 * Dropdown Menu
 */

li.media .dropdown-menu {
	margin-top: 5px;
	background: rgba(9,15,21,0.96);
	box-shadow: 0 0 8px #000;
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 5px;

	min-width: 175px;
}
li.media.rendermode-embed .dropdown-menu,
li.media.rendermode-standalone .dropdown-menu{
    left: auto;
    right: 0;
}

li.media .dropdown-menu li a {
	padding: 4px 8px 4px 10px;
	color: #fff;
	background: none;
	border-bottom: none;
    border-radius: 4px;
}
li.media .dropdown-menu li.active > a {
    background: rgba(255, 255, 255, 0.25) !important;
    font-weight: bold;
}
li.media .dropdown-menu li > a:hover {
	background: #13385E !important;
}
li.media .dropdown-menu li i {
	padding-right: 3px;
}
li.media .dropdown-menu li i:before {
	color: #CCC;
}

.station.playing li a span.nowplaying-stream-listeners {
    font-weight: normal;
    margin-left: 5px;
    font-size: 12px;
    color: #999;
}

li.media .dropdown-menu li.divider {
    background-color: rgba(255,255,255,0.1);
}

/**
 * Player Skin for PVL
 */

li.station {
	cursor: pointer;
}
li.station,
li.podcast {
	line-height: inherit;
	padding-bottom: 5px;
}
.station h4,
.podcast h4 {
	font-size: 16px;
	padding-bottom: 3px;
}

.station span.block,
.podcast span.block {
	display: block;
}

.station .nowplaying-onair {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.station img,
.station .station-image {
	margin-top: 5px;
	width: 40px;
}
.station.playing .station-image {
}

.podcast .station-info ul {
	list-style: disc inside none;
	margin-left: 0px;
}
.podcast .station-info li {
	padding-left: 5px;
}

.station .station-info div,
.podcast .station-info div,
.podcast .station-info li {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	line-height: 14px;
}

.podcast .station-info div,
.podcast .station-info li {
	font-size: 14px;
}

.station .nowplaying-artist {
	font-size: 14px;
}
.station .nowplaying-title {
	font-size: 12px;
}

.station .station-history {
    margin-top: 5px;
}

.station .station-player-container {
	padding-bottom: 5px;
}

.station .station-player .buttons {
	margin-bottom: 3px;
}

/* jPlayer */

.station .jp-volume-bar {
	width: 40%;
	height: 16px;
	float: left;

	background: none;
	filter: -;
	background-color: #222;
}

.station .jp-pause,
.station .jp-play {
	float: left;
	font-size: 15px;

	padding-right: 15px;
}

.station .jp-mute,
.station .jp-unmute {
	float: left;
	padding-right: 5px;
}
.station .jp-volume-max {
	float: left;
	padding-left: 5px;
}

.station .station-player-container a {
	color: #149BDF;
}

/**
 * Voting Functionality
 */

.station .vote-wrapper {
	text-align: center;
	padding-top: 3px;
	line-height: 14px;
}

.station .vote-wrapper a {
	color: #AAA;
	text-decoration: none !important;
}
.station .vote-wrapper a:focus { 
    outline: none; 
}
.station .vote-wrapper a.btn-active {
	color: #FFF;
}

.station .vote-wrapper a.btn-like {
	color: #9FB79D;
}
.station .vote-wrapper a.btn-like.btn-active {
	color: #45C126;
}
.station .vote-wrapper a.btn-dislike {
	color: #B79D9D;
}
.station .vote-wrapper a.btn-dislike.btn-active {
	color: #D51C1C;
}