<?php
/*
$theme_session = \DF\Session::getNamespace('theme');
$default_theme = $this->config->pvl->default_theme;
$skin = ($theme_session->skin) ? $theme_session->skin : $default_theme;
*/
$skin = ($this->skin) ? $this->skin : 'dark';
$embed = ($this->embed_mode) ? 'embedded' : 'non-embedded';
?>
<?php echo $this->doctype(); ?>
<html class="compact_layout theme_<?=$skin ?> <?=$embed ?>">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php
$title = current($this->headTitle()->getIterator());
$this->headTitle($this->config->application->name);

if (DF_APPLICATION_ENV != "production")
    $this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

echo $this->headTitle()->setSeparator(" | ")->toString();

$this->headLink()
    ->appendStylesheet('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css', 'all')
    ->appendStylesheet('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', 'all')
    ->appendStylesheet(\DF\Url::content('common/jquery/fancybox/jquery.fancybox.css'), 'all')
    ->appendStylesheet(\DF\Url::content('mid2013/embeds/'.$skin.'.css'))
    ->appendStylesheet('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', 'screen');
    
$this->headScript()
    ->prependFile('//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js')
    ->prependFile(\DF\Url::cdn('jquery', '1.8'))
    ->appendFile(\DF\Url::content('common/bootstrap2_r2/bootstrap/js/bootstrap.min.js'))
    ->appendFile(\DF\Url::content('common/bootstrap2_r2/layout.js'))
    ->appendFile(\DF\Url::content('global.js'))
    ->appendFile(\DF\Url::content('js/swfobject.js'));

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();
?>
<script>
var DF_AppEnv = '<?=DF_APPLICATION_ENV ?>';
var DF_BaseUrl = '<?php echo \DF\Url::baseUrl(); ?>';
var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
</script>
</head>
<body>
<!-- Google Universal Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '<?=$this->config->application->analytics_code ?>', 'ponyvillelive.com');
ga('send', 'pageview');
</script>
<!-- End Google Universal Analytics -->

<div id="body-wrapper">
    <div id="body" class="container">
    <? if ($title): ?>
        <h1 class="title"><?=$title ?></h1>
    <? endif; ?>

    <? if ($this->layout()->manual): ?>
        <?php echo $this->layout()->content; ?>
    <? else: ?>
        <div class="row-fluid">
            <div class="span12">
                <div class="floating">
                    <div class="content_inner">
                        <?php echo $this->layout()->content; ?>
                    </div>
                </div>
            </div>
        </div>
    <? endif; ?>
    </div>
</div>
</body>
</html>