<?php
$this->headTitle('New Station Intake Voting');

echo $this->renderHere('stationname', true);
echo $this->renderHere('homelink', true);
?>

<table class="table table-striped table-bordered table-condensed">
    <colgroup>
        <col width="14%" />
        <col width="7%" />
        <col width="44%" />
        <col width="35%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>&nbsp;</th>
            <th>Station</th>
            <th>My Vote</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pending_stations as $record): ?>
        <tr class="input">
            <td class="center">
                <div class="btn-group">
                    <?=$this->button(array(
                        'type'      => 'link',
                        'class'     => 'btn-primary',
                        'href'      => $this->routeFromHere(array('action' => 'view', 'id' => $record['id'])),
                        'text'      => 'View/Vote',
                    )) ?>
                </div>
            </td>
            <td class="center"><img src="<?=\DF\Url::content($record['image_url']) ?>" style="max-width: 70px;"></td>
            <td>
                <div><big><?=$record['name'] ?></big></div>
                <div><?=$record['description'] ?></div>
            </td>
            <td>
            <? if ($record['my_vote']): ?>
                <div class="<? if ($record['my_vote']['decision'] == 'Accept'): ?>text-success<? else: ?>text-danger<? endif; ?>"><b><?=$record['my_vote']['decision'] ?>:</b> <?=$record['my_vote']['comments'] ?></div>
            <? endif; ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>