<?php
$this->headTitle('New Station Intake Voting');
$this->layout()->manual = true;
?>

<div class="row-fluid">
    <div class="span8">
        <?=$this->station_form->renderView() ?>
    </div>
    <div class="span4">
        <h2>Vote for Station</h2>
        <?=$this->form->render() ?>
    </div>
</div>