<?
$this->headTitle('Sign In to Ponyville Live!');
$this->layout()->manual = true;

$this->headLink()->appendStylesheet(\DF\Url::content('zocial/zocial.css'), 'all')
?>

<div class="row-fluid">
    <div class="span8">
        <div class="floating">
            <h2>Create a PVL Account</h2>
            <p>Don't have an account within the Ponyville Live! system? Create one below.</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'class'     => 'large',
                    'href'      => $this->routeFromHere(array('action' => 'register')),
                    'icon'      => 'icon-asterisk',
                    'text'      => 'Create New PVL Account',
                )) ?>
            </div>

            <br>
            <h2>Sign In with PVL Account</h2>
            <p>If you have an account inside the Ponyville Live! system, enter your username and password below.</p>

            <?=$this->form->render() ?>
        </div>
    </div>
    <div class="span4">
        <div class="floating">
            <h2>Social Sign-In</h2>

        <? foreach($this->external_providers as $provider_key => $provider_info): ?>
            <div class="buttons"><a href="<?=$this->routeFromHere(array('provider' => $provider_key)) ?>" class="zocial <?=$provider_info['class'] ?>">Sign in with <?=$provider_info['name'] ?></a></div>
        <? endforeach; ?>
        </div>
    </div>
</div>