<?
$this->headTitle('Delete PVL Account');
?>

<h2>Confirm Deletion</h2>

<p>By deleting your PVL account, all of the following information will be permanently lost:</p>

<ul>
    <li>Listings of any songs you requested,</li>
    <li>Listings of songs you liked or disliked,</li>
    <li>PVL convention signup records,</li>
    <li>Any special permissions assigned to you in the PVL system, and</li>
    <li>Any links to social network accounts (like Twitter, Facebook, etc).</li>
</ul>

<p>You can recreate your PVL account at any time by revisiting the account registration page.</p>

<p>Please confirm the deletion of your account by clicking the button below.</p>

<form method="post" action="">
    <input type="hidden" name="confirm" value="confirm">

    <div class="buttons">
        <?=$this->button(array(
            'type'      => 'submit',
            'class'     => 'danger large confirm-action',
            'text'      => 'Confirm Account Deletion',
        )) ?>
    </div>
</form>