/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.happyworm.com/jquery/jplayer
 *
 * Skin Name: Blue Monday
 *
 * Copyright (c) 2010 Happyworm Ltd
 * Dual licensed under the MIT and GPL licenses.
 *  - http://www.opensource.org/licenses/mit-license.php
 *  - http://www.gnu.org/copyleft/gpl.html
 *
 * Author: Luke McDonald (lukemcdonald.com)
 * Skin Design: Orman Clark (premiumpixels.com)
 * Skin Version: 3.0 (jPlayer 2.0.0)
 * Date: 20th December 2010
 */
div.jp-interface {
  position: relative;
  width: 100%;
  z-index: 100;
  
  background: rgb(58,59,60);
  background: url(jplayer-black-and-yellow.png) 0 -210px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(34,34,34)),
    color-stop(1, rgb(58,59,60))
  );
  background: -moz-linear-gradient(
    center bottom,
    rgb(34,34,34) 0%,
    rgb(58,59,60) 100%
  );
}
.jp-interface { height: 30px; }
.jp-controls {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.jp-controls li { display: inline; }
.jp-controls a {
  position: absolute;
  overflow: hidden;
  text-indent: -9999px;
}
a.jp-play,
a.jp-pause {
  width: 33px;
  height: 30px;
  z-index: 1;
  outline: none;
  top: 0;
  left: 0;
  border-right: 1px solid #242526;
}

a.jp-play { background: url(jplayer-black-and-yellow.png) 0 0 no-repeat; }
a.jp-play:hover { background-position: -33px 0; }
a.jp-pause { 
  background: url(jplayer-black-and-yellow.png) 0 -30px no-repeat; 
  display: none;
}
a.jp-pause:hover { background-position: -33px -30px; }
.jp-progress-container {
  padding: 12px 10px;
  margin-left: 34px;
  margin-right: 81px;
  height: 6px;
  border-left: 1px solid #323334;
  border-right: 1px solid #242526;
}
.jp-progress { 
  width: 100%;
  height: 7px;
  padding: 1px;
  background: url(jplayer-black-and-yellow.png) 0 -192px repeat-x ;
}
.jp-seek-bar {
  width: 0px;
  height: 5px;
  cursor: pointer;
  background: url(jplayer-black-and-yellow.png) 0 -163px repeat-x;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.jp-play-bar {
  width: 0px;
  height: 5px;
  background: url("jplayer-black-and-yellow.png") 0 -133px repeat-x ;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.jp-volume-bar-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 6px;
  padding: 12px 10px;
  border-left: 1px solid #323334;
}
.jp-volume-bar {
  position: relative;
  overflow: hidden;
  background: url(jplayer-black-and-yellow.png) 0 -192px repeat-x;
  width: 40px;
  height: 9px;
  cursor: pointer;
  top: 0;
  left: 18px;
}
.jp-volume-bar-value {
  width: 0px;
  height: 5px;
  margin: 1px;
  background: url(jplayer-black-and-yellow.png) 0 -133px repeat-x;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
a.jp-mute,
a.jp-unmute {
  width: 17px;
  height: 13px;
  z-index: 1;
  outline: none;
  top: 9px;
  right: 55px;
}
a.jp-mute { background: url(jplayer-black-and-yellow.png) -10px -68px no-repeat; }
a.jp-mute:hover { background-position: -43px -68px; }
a.jp-unmute { background: url(jplayer-black-and-yellow.png) -10px -98px no-repeat; }
a.jp-unmute:hover { background-position: -43px -98px; }
