<?
$this->headTitle('PVL! Mobile');
?>

<h2>PVL! Mobile Recently Updated</h2>

<p>There's a new edition of Ponyville Live! mobile, available via your web browser or the Google Play store. The new app is greatly improved, with better access to radio stations and streams, podcasts, and convention coverage. Check it out below.</p>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'text'      => 'PVL! Mobile Web App',
        'href'      => 'http://m.pvlive.me',
        'class'     => 'btn-block btn-primary',
        'rel'       => 'external',
        'target'    => '_blank',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'text'      => 'PVL! Mobile on Google Play',
        'href'      => 'https://play.google.com/store/apps/details?id=com.ponyvillelive.pvlmobile',
        'class'     => 'btn-block',
        'rel'       => 'external',
        'target'    => '_blank',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'text'      => 'Ponyville Live! Homepage',
        'href'      => $this->route(),
        'class'     => 'btn-block',
        'rel'       => 'external',
        'target'    => '_blank',
    )) ?>
</div>