<?
$this->headTitle($this->convention->name);
$this->layout()->manual = true;

$this->headLink()
    ->appendStylesheet(\DF\Url::content('mid2013/convention.css'), 'all')
?>

<? if ($this->convention->image_url): ?>
    <? $this->placeholder('content_top')->captureStart(); ?>
    <div id="convention_header" class="rich_header">
        <div class="container">
            <div class="well">
                <div class="item">
                    <img src="<?=\DF\Url::content($this->convention->image_url) ?>" alt="Convention Thumbnail">
                </div>
            </div>
        </div>
    </div>
    <? $this->placeholder('content_top')->captureEnd(); ?>
<? endif; ?>

<div class="row-fluid">
    <div class="span3">
        <h2><i class="icon-info-sign"></i> Convention Info</h2>
        <div class="well">
            <ul class="nav nav-list">
                <li class="nav-header">Location</li>
                <li><span><?=$this->convention->location ?></span></li>

                <li class="nav-header">Dates</li>
                <li><span><?=$this->convention->range ?></span></li>

            <? if ($this->convention->web_url): ?>
                <li class="nav-header">Homepage</li>
                <li><a href="<?=$this->convention->web_url ?>" target="_blank"><?=$this->convention->web_url ?></a></li>
            <? endif; ?>

                <li class="nav-header">Folders</li>
                <? foreach($this->videos as $folder): ?>
                    <li><a href="#folder_<?=$folder['key'] ?>"><i class="icon-folder-open"></i> <?=$folder['name'] ?></a></li>
                <? endforeach; ?>

            <? if ($this->sources): ?>
                <li class="nav-header">Video Sources</li>
                <? foreach($this->sources as $source): ?>
                    <li><a href="<?=$source['web_url'] ?>" target="_blank"><i class="icon-globe"></i> <?=$source['name'] ?></a></li>
                <? endforeach; ?>
            <? endif; ?>
            </ul>
        </div>

        <h2><i class="icon-folder-open-alt"></i> More Archives</h2>
        <div class="well">
            <ul class="nav nav-list autoselect" rel="<?=$this->convention->id ?>">
            <? foreach($this->conventions_archived as $record): ?>
                <li rel="<?=$record['id'] ?>"><a href="<?=$this->routeFromHere(array('id' => $record['id'])) ?>">
                    <b><?=$record['name'] ?></b><br>
                    <?=$record['location'] ?> &bull; <?=$record['range'] ?>
                </a></li>
            <? endforeach; ?>
            </ul>
        </div>
    </div>
    <div class="span9">
    <? foreach($this->videos as $folder): ?>
        <h2 id="folder_<?=$folder['key'] ?>"><i class="icon-folder-open"></i> <?=$folder['name'] ?></h2>

        <?
        $rows = \DF\Utilities::rows($folder['videos'], 4);
        ?>
        <? foreach($rows as $row): ?>
            <div class="row-fluid clearfix">
                <? foreach($row as $record): ?>
                    <div class="span3">
                        <a class="video fancybox fancybox.iframe <?=$record['type'] ?>" href="<?=$record['web_url'] ?>">
                            <img src="<?=$record['thumbnail_url'] ?>" title="<?=$record['name'] ?>">
                            <div class="name">
                                <h4><?=$record['name'] ?></h4>
                            </div>
                        </a>
                    </div>
                <? endforeach; ?>
            </div>
        <? endforeach; ?>
    <? endforeach; ?>
    </div>
</div>

